body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

form {
  background-color: white;
  padding: 20px;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);

}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #5c6bc0;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
